body{

background-color:white ;
font-family:Verdana, Geneva, Tahoma, sans-serif

}

.header_div{

color:red;
background-color: #fff;
}

.header_div p{

font-family:'roboto',sans-serif;
letter-spacing:2px;
color:gray;
font-weight:bold;

}

.main_div{

background-color:rgba(228, 161, 155, 0.858);

}

button{

margin-top:30px;
font-family:Arial, Helvetica, sans-serif;
width:90px;
font-size:20px !important;
letter-spacing:3px ;
}

#result_accuracy , #result_sound{

font-size:19px ;
margin-top:20px;
}

img{

margin-top:50px;
margin-bottom:50px;
}

.footer{

position:fixed;
bottom:0;
background-color:grey;
width:100%;
text-align:center;
line-height:3;
color:white;
font-size:16px;
text-shadow: 3px 3px 5px black;
}